.learn-wrapper {
  padding: 2rem;
  color: #f0f0f0;
  background-color: #0a0a0a;
}

.learn-title {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.learn-section {
  margin-bottom: 2.5rem;
}

.section-heading {
  font-size: 1.5rem;
  color: #00d4ff;
  margin-bottom: 0.5rem;
}

ul {
  padding-left: 1.5rem;
  line-height: 1.8;
}
.comparison-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.comparison-table th,
.comparison-table td {
  padding: 0.5rem;
  border: 1px solid #999;
  text-align: center;
}

.section-heading {
  margin-top: 2rem;
  font-size: 1.6rem;
  color: #2f80ed;
}
h3{
  color: orangered;
}
.download-btn {
  padding: 0.5rem 1rem;
  background-color: #4f46e5;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.download-btn:hover {
  background-color: #3730a3;
}
